<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        .title{
            text-align: center;
        }
        .form{
            align-self: center;
        }
    </style>
</head>
<body>
    <h1 class="title">URL Shortener</h1>
   
    <div class="form">
        <form method="POST" action="/url">
            <label for="">Enter original URL:</label>
            <input type="text" placeholder="https://example.com" name="url">
            <br>
            <button type="submit">Generate</button>
        </form>
    </div>

 <% 
 if(locals.shortId){%>
 <p>URL generated: http://localhost/<%=locals.shortId%></p>
 <%}%>

</body>
</html>